* {
    font-family: sans-serif;
    padding: 10px;
    background: lightskyblue;
}

#output {
    display:none;
}

button {
    background: yellow;
    color: black;
}

#outputTable {
  max-width: 100%;
  display: block;
  border-collapse: collapse;
}

td, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
}
